div{
	height: 200px;
	width: 200px;
	background-color: white;
	margin: 50px;
	text-align: center;
	border: 1px solid black;
	/*box-shadow: 10px 0px 5px red,
				-10px 0px 5px green;*/
	/*box-shadow: 10px 0px 0px red,
				20px 0px 0px green;*/
	box-shadow: 1px 1px 0px gray,
				2px 2px 0px gray,
				3px 3px 0px gray,
				4px 4px 0px gray,
				5px 5px 0px black,
				6px 6px 0px black;

}

p{
	position: relative;
	top:70px;
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 10px green;
}

/*
La estructura de las sombras aplicadas a cajas
(box-shadow) o a texto (text-shadow) tiene:
4 valores: 	DesplazamientoHorizontal
		   	DesplazamientoVertical
		   	Difuminado
		   	Color

Añadiendo el valor "inset" como el primer valor
del conjunto box-shadow seguido de la
estructura común, establecemos la sombra en 
forma interna en el elemento al que se la queramos
asignar.

Para usar múltiples sombras aplicas al mismo elemento
solo hay que separar cada sombra con una coma(,)
y respetar la estructura básica.
*/